    <footer>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h3 class="section-title">Civic Tech WR</h3>
              <p>We're a community group that brings together people from different sectors and industries to actively solve issues facing our local community using design and technology.</p>
            </div>

            <div class="col-md-3 col-md-push-1">
              <h3 class="section-title">Links</h3>
              <ul>
                <li><a href="{{'/' | relative_url }}">Home</a></li>
                <li><a href="{{'/about' | relative_url }}">About us</a></li>
                <li><a href="https://www.meetup.com/CivicTechWR/events/past/">Events</a></li>
                <li><a href="{{'/projects' | relative_url }}">Projects</a></li>
                <li><a href="{{'/partners' | relative_url }}">Partners</a></li>
                <li><a href="{{'/get-involved' | relative_url }}">Get involved</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <h3 class="section-title">Get in touch</h3>
              <ul>
                <li><a href="mailto:civictechwr@gmail.com">civictechwr@gmail.com</a></li>
                <li><a href="https://www.meetup.com/CivicTechWR/">Join us on Meetup</a></li>
                <li><a href="https://civictechwrslack.herokuapp.com/">Join us on Slack</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <h3 class="section-title">In the news</h3>
              <ul>
                <li><a href="https://www.cbc.ca/news/canada/kitchener-waterloo/waterloo-region-organizations-voter-information-surveys-1.4870468">CBC - Oct 20, 2018</a></li>
                <li><a href="https://www.waterloochronicle.ca/community-story/8943235-waterlooregionvotes-org-helps-voters-inform-themselves-before-municipal-election/">Waterloo Chronicle - Oct 03, 2018</a></li>
                <li><a href="https://www.therecord.com/news-story/8847728-techies-mobilizing-for-this-fall-s-municipal-elections-in-waterloo-region/">The Record - Aug 19, 2018</a></li>
              </ul>
            </div>

          </div>
          <div class="row copy-right">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p class="fh5co-social-icon">
                <a href="https://twitter.com/civictechwr"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/CivicTechWR"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/CivicTechWR"><i class="fab fa-github"></i></a>
                <a href="https://medium.com/civictechwr"><i class="fab fa-medium-m"></i></a>
                <a href="https://www.meetup.com/CivicTechWR"><i class="fab fa-meetup"></i></a>
                <a href="https://civictechwrslack.herokuapp.com/"><i class="fab fa-slack"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>