<header>
  <div class="container">
    <div class="fh5co-navbar-brand">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="text-left">
            <a class="fh5co-logo" href="{{'/' | relative_url }}">
              <img src="{{'assets/images/civictechwr_logo_white.svg' | relative_url }}" alt="Civic Tech WR">
            </a>
          </h1>
        </div>
        <div class="col-xs-6">
          <p class="fh5co-social-icon text-right">
            <a href="https://twitter.com/civictechwr"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/CivicTechWR"><i class="fab fa-facebook-f"></i></a>
            <a href="https://github.com/CivicTechWR"><i class="fab fa-github"></i></a>
            <a href="https://medium.com/civictechwr"><i class="fab fa-medium-m"></i></a>
            <a href="https://www.meetup.com/CivicTechWR"><i class="fab fa-meetup"></i></a>
            <a href="{{ site.slack_invite }}"><i class="fab fa-slack"></i></a>
          </p>
        </div>
      </div>
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
    </div>
  </div>
</header>
