<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
      <div class="fh5co-table-cell js-fullheight">
        <h1 class="text-center"><a class="fh5co-logo" href="/">Civic Tech WR</a></h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="https://www.meetup.com/CivicTechWR/events/past/">Events</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/partners">Partners</a></li>
        </ul>
        <p class="fh5co-social-icon">
          <a href="https://twitter.com/civictechwr"><i class="icon-twitter2"></i></a>
          <a href="https://www.facebook.com/CivicTechWR"><i class="icon-facebook2"></i></a>
          <a href="https://github.com/CivicTechWR"><i class="icon-github2"></i></a>
        </p>
      </div>
    </div>
  </nav>